---
import PillLink from "./PillLink.astro";

const { data, last } = Astro.props;
const { id, date, title, category, description } = data;
---

<li class={`relative sm:mb-0 ${!last && "mb-6"}`}>
  <div class="flex items-center">
    <div
      class="z-10 flex items-center justify-center p-2 bg-white rounded-full"
    >
      <ion-icon name="briefcase" class="text-black size-4"></ion-icon>
    </div>
    <div class="hidden sm:flex w-full bg-white h-[1px]"></div>
    {
      last && (
        <ion-icon
          name="chevron-forward"
          class="transition-colors ease-linear max-sm:hidden size-5 group-hover:text-blue-400"
        />
      )
    }
  </div>
  <div class="mt-3 sm:pe-8">
    <div class="flex flex-wrap items-center gap-x-2">
      <h4 class="text-lg">
        {title}
      </h4>
      <span class="text-sm font-light text-neutral-200">{category}</span>
    </div>
    <time class="text-sm font-light leading-none text-neutral-200">{date}</time>
    <p class="mb-2 font-light text-neutral-200 text-pretty">
      {description}
    </p>

    <PillLink href={`/#${id}`} icon="arrow-forward-circle">
      Ir al proyecto
    </PillLink>
  </div>
</li>
